
@{
    ViewBag.Title = "UpdatePwdMessage";
}
<center><h2>Your Password is Updated Successfully...</h2></center>
<div>
    @Html.ActionLink("Back to Home", "Index","Home")
    @Html.ActionLink("Login", "AdminLogin")
</div>

