@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title.</h2>
<h3>Welcome to Our Food Items Site</h3>

<p>At our Food Items site, we are passionate about bringing you a diverse and delightful culinary experience. Explore our menu, curated with love and care, offering a variety of mouth-watering dishes to satisfy every palate.</p>

<p>Our commitment is to deliver high-quality and delicious food items, crafted with the finest ingredients. Whether you're looking for a quick snack or a full-course meal, we've got you covered.</p>

<p>Discover the essence of flavor and quality with our food items. Join us on a culinary journey that promises satisfaction in every bite.</p>
