@{
    ViewBag.Title = "Contact Us";
}

<h2>@ViewBag.Title.</h2>
<address>
    Your Food Items Site Name<br />
    Street Address<br />
    City, State, Zip Code<br />
    <abbr title="Phone">Phone:</abbr>
    Your Phone Number
</address>

<address>
    <strong>Email Support:</strong> <a href="mailto:support@yourfooditemsite.com">support@yourfooditemsite.com</a><br />
    <strong>General Inquiries:</strong> <a href="mailto:info@yourfooditemsite.com">info@yourfooditemsite.com</a>
</address>
